<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeshApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WeshAppLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B36E68411A6C3AF7002B951A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D9F5A019F93AA400BF6257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D9F5B819F93AA400BF6257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8DC684F1A337CC800AAF16D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8DC68591A337CC800AAF16D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
